name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:   # Trigger on PRs
  workflow_dispatch:  # Allows manual triggering

jobs:
  test:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        
    - name: Restore dependencies
      run: dotnet restore H2o.slnx
      
    - name: Build
      run: dotnet build H2o.slnx --no-restore -c Release
      
    - name: Run tests
      run: dotnet test H2o.slnx --no-build -c Release --verbosity normal

